In [1]:
import pandas as pd

### 1 Read in both of the CSV files and print out their DataFrames.

In [2]:
bitcoin = pd.read_csv('resources/bitcoin_cash_price.csv')
dash_price = pd.read_csv('resources/dash_price.csv')

In [4]:
bitcoin.head(5)

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_price.head(5)

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

### 2. Perform an inner merge that combines both DataFrames on the "Date" column.

In [27]:
combined = pd.merge(bitcoin, dash_price, how='inner', on='Date')

combined.head(5)

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

### 3.Rename the columns within the newly merged DataFrame so that the headers are more descriptive.

In [28]:
new_columns = {"Open_x" : "Bitcoin_Open", 
               "High_x" : "Bitcoin_High",
               "Low_x"  : "Bitcoin_Low",
               "Close_x" : "Bitcoin_Close",
               "Volume_x" : "Bitcoin_Volume",
               "Market Cap_x" : "Bitcoin_Market_Cap",
               "Open_y": "Dash_Open",
               "High_y" : "Dash_High",
               "Low_y" : "Dash_Low",
               "Close_y" : "Dash_Close",
               "Volume_y" : "Dash_Volume",
               "Market Cap_y" : "Dash_Market_Cap"
              }

combined.rename(columns = new_columns, inplace=True)

combined.head(5)

# alternative : use suffixes option during the merge

,Date,Bitcoin_Open,Bitcoin_High,Bitcoin_Low,Bitcoin_Close,Bitcoin_Volume,Bitcoin_Market_Cap,Dash_Open,Dash_High,Dash_Low,Dash_Close,Dash_Volume,Dash_Market_Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

### 4. Create a summary table that includes the following information: Best Bitcoin Open, Best Dash Open, Best Bitcoin Close, Best Dash Close, Total Bitcoin Volume, Total Dash Volume.

In [35]:
best_bc_open  = combined['Bitcoin_Open'].min()
best_bc_close = combined['Bitcoin_Close'].max()
tot_bc_volume = combined['Bitcoin_Volume'].sum() / 1000000

best_dash_open = combined['Dash_Open'].min()
best_dash_close = combined['Dash_Close'].max()
tot_dash_volume = combined['Dash_Volume'].sum() / 1000000


dict_summary = {
    "Best Bitcoin Open": [best_bc_open],
    "Best Dash Open": [best_dash_open],
    "Best Bitcoin Close" : [best_bc_close],
    "Best Dash Close" :  [best_dash_close],
    "Total Bitcoin Volume" : [tot_bc_volume],
    "Total Dash Volume" : [tot_dash_volume]
}

summary = pd.DataFrame(dict_summary)

summary.head(5)

,Best Bitcoin Open,Best Dash Open,Best Bitcoin Close,Best Dash Close,Total Bitcoin Volume,Total Dash Volume
0,212.18,173.15,754.56,399.85,24383.04915,2960.2785

### 5. Total Bitcoin Volume and Total Dash Volume should be calculated to have units of "millions" and be rounded to two decimal places.

In [53]:
#x = combined['Bitcoin_Volume'].sum() / 1000000

#'$ {:,.2f} millions'.format(combined['Bitcoin_Volume'].sum() / 1000000)

'$ 24,383.05 millions'

In [54]:
best_bc_open  = combined['Bitcoin_Open'].min()
best_bc_close = combined['Bitcoin_Close'].max()
tot_bc_volume = '$ {:,.2f} millions'.format(combined['Bitcoin_Volume'].sum() / 1000000)

best_dash_open = combined['Dash_Open'].min()
best_dash_close = combined['Dash_Close'].max()
tot_dash_volume = '$ {:,.2f} millions'.format(combined['Dash_Volume'].sum() / 1000000)


dict_summary = {
    "Best Bitcoin Open": [best_bc_open],
    "Best Dash Open": [best_dash_open],
    "Best Bitcoin Close" : [best_bc_close],
    "Best Dash Close" :  [best_dash_close],
    "Total Bitcoin Volume" : [tot_bc_volume],
    "Total Dash Volume" : [tot_dash_volume]
}

summary = pd.DataFrame(dict_summary)

summary.head(5)

,Best Bitcoin Open,Best Dash Open,Best Bitcoin Close,Best Dash Close,Total Bitcoin Volume,Total Dash Volume
0,212.18,173.15,754.56,399.85,"$ 24,383.05 millions","$ 2,960.28 millions"